<!-- Defines the banner at top of pages other than the home page -->
<header class="banner" role="banner">
  <div class="section-container">
    <div class="section-content">
      <div class="banner-title">
        <a href="{{ site.baseurl }}/">
          <img class="logo" src="{{ site.baseurl }}/assets/logo.png" alt="Smart City Framework">
          <h1>Smart City Framework</h1>
        </a>
      </div>
      <div class="banner-nav">
        <nav role="navigation" class="main-nav">
          <ul>
	    <li><a href="{{ site.baseurl }}/smartcitiesarchitecture">Learn</a></li>
	    <li><a href="{{ site.baseurl }}/community">Community</a></li>
            <li><a href="{{ site.baseurl }}/library">Library</a></li>
            <li><a href="mailto:smartcitiesarchitecture-join@nist.gov?subject=subscribe&#038;" class="btn btn-primary">Join</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
